{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Attendance Management System{% endblock %}</title>

    <!-- Link to CSS -->
    <link rel="stylesheet" href="{% static 'ams_app/styles.css' %}">
</head>
<body>
    {% if not hide_nav %}
    <header>
        <h1>Attendance Management System - 2025</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
        
                {% if request.user.is_authenticated and request.user.role != "Employee" %}
                    <li><a href="{% url 'create_user' %}">Create user</a></li>
                    <li><a href="{% url 'attendance_list' %}">Attendance List</a></li>
                    <li><a href="{% url 'add_shift' %}">Add Shift</a></li>
                    <li><a href="{% url 'shift_list' %}">Shifts List</a></li>
                    <li><a href="{% url 'shift_allocate' %}">Shift Allocations</a></li>
                    <li><a href="{% url 'add_holiday' %}">Add Holiday</a></li>
                {% endif %}
        
                <li><a href="{% url 'attendance_check' %}">Mark Attendance</a></li>
                <li><a href="{% url 'attendance_status' %}">Attendance Status</a></li>
                <li><a href="{% url 'leave_list' %}">Leave Requests</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>        
    </header>
    {% endif %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'ams_app/scripts.js' %}"></script>
</body>
</html>
