{% extends 'ams_app/base.html' %}
{% load static %}

{% block content %}
<h2>Holiday List</h2>


<table>
    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Holiday Name</th>
        <th>Description</th>
    </tr>
    {% for holiday in holidays %}
    <tr>
        <td>{{ holiday.start_date }}</td>
        <td>{{ holiday.end_date }}</td>
        <td>{{ holiday.name }}</td>
        <td>{{ holiday.description }}</td>
    </tr>
    {% endfor %}
</table>

<!-- Button to navigate to Add Holiday page -->
<a href="{% url 'add_holiday' %}">
    <button>Add New Holiday</button>
</a>
{% endblock %}
